@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$font1: 'Libre Bodoni', serif;
$primary: #002c23;
$black: #141408ef;
$beige: #d9d9c3;

html, body {
    background-color: $primary;
}
#letter {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
