@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$font1: 'Libre Bodoni', serif;
$primary: #535339;
$beige: #d9d9c3;

html,body {
    margin: 0;
    overflow-x: hidden; 
    background-color: $primary;
    font-family: $font1;
}
